@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400&display=swap);

.main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
}

.header {
    display: flex;
    height: 275px;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 50px;
}

.leftside {
    display: flex;
    margin-top: 90px;
}

.postItem {
    display: block;
    height: 90px;
    width: 250px;
    margin-top: 90px;
    background: #1E1E1E;
    font: 400 20px 'Montserrat';
    color: #BBB4AB;
    border: 1px solid #BBB4AB;
    margin-left: 45px;    
}

.search {
    display: block;
    height: 90px;
    width: 550px;
    margin-top: 90px;
    background: #1E1E1E;
    font: 400 24px 'Montserrat';
    padding-left: 45px;
    color: #BBB4AB;
}

.header {
    display: flex;
    height: 275px;
    width: 100%;
    justify-content: space-around;
}

#notification {
    display: none;
}

.notif {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    border: 1px solid #BBB4AB;
    margin-bottom: 30px;
    margin-right: 30px;
}

#profile {
    display: none;
}

.acc {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    border: 1px solid #BBB4AB;
}

.posting {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.card img {
    width: 550px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 950px;
    width: 650px;
    border: #FFFFFF 1px solid;
    padding: 3px;
}

.card h4 {
    font: 'Montserrat';
    font-size: 25px;
    align-self: flex-start;
    padding-left: 10px;
    color: #FFFFFF;
    padding-bottom: 10px;
}

.container {
    align-self: flex-end;
}

.container p {
    font: 'Montserrat';
    font-size: 15px;
    padding-left: 3px;
    color: #fefefe;
}

.postings {
    display:flex;
    justify-content: space-around;
}

@media only screen and (max-width: 600px) {
    .header {
        height: 100px;
        width: 100%;
        flex-wrap: wrap;
    }
    .leftside {
        display: flex;
        margin-top: 40px;
    }

    .header img {
        flex: 1;
        max-width: 50%;
        width: 90px;
        height: 90px;
        
    }

    .search {
        flex: 1;
        max-width: 50%;
        width: 200px;
        height: 45px;
        margin-bottom: 0px;
        margin-left: 60px;
        margin-top: 20px;
    }

    .postItem {
        height: 40px;
        width: 80px;
        flex: 1;
        max-width: 33%;
        font: 13px 'Montserrat';
        margin-top: 40px;
    }

    .notif {
        flex: 1;
        max-width: 33%;
        width: 40px;
        height: 40px;
    }

    .notif img {
        width: 20px;
        height: 20px;
    }
    .acc {
        flex: 1;
        max-width: 33%;
        width: 40px;
        height: 40px;
    }

    .acc img {
        width: 20px;
        height: 20px;
    }

    .rightside {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        margin-right: 0px;
    }
    .rightside button{
        width: 150px;
        height: 60px;
        margin-left: 20px;
        font: 15px 'Montserrat';
        border: 1px solid white;
        align-items: center;
    }

    .posting {
        width: 50px;
        height: 80px;
        border: 1px solid white;
    }

    .card {
        flex-direction: column;
        width: 330px;
        height: 290px;
        border: 1px solid white;
        padding-left: 5px;
        margin-top: 50px;
        margin-bottom: 25px;
    }

    .card img {
        width: 310px;
        height: 210px;
    }

    .card h4 {
        font: 15px 'Montserrat';
        padding-bottom: -5px;
    }

    .container p {
        display: flex;
        font: 10px 'Montserrat';
        text-align: center;
        margin-right: 45px;
    }

    .postings {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}