@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400&display=swap);

.main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';

}

.post-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.post-div h1 {
    font-family: 'Montserrat';
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 78px;
    color: #BBB4AB;
    text-align: center;
    margin-bottom: 50px;
    
}

.post-div p {
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    font-size: 24px;
}

.header img {
    display: flex;
    justify-content: left;
    align-items: left;
    width: 300px;
    height: 300px;
}

.post-div a {
    color: #BBB4AB;
}

.post-div a:hover {
    color: #4DFF00;
}

.post-div input {
    width: 650px;
    height: 70px;
    border: 1px solid #BBB4AB;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 60px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #BBB4AB;
    background-color: #1E1E1E;
}

.post-div button {
    width: 50%;
    height: 61px;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 40px;
    text-align: center;
    background-color: #BBB4AB;
    /* padding-left: 30px; */
    margin-left: 165px;
    margin-bottom: 60px;

}

.importImg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 150px;
    border: 1px solid white;
    margin-bottom: 40px;
    margin-left: 145px;
}

#avatar {
    display: none;
}

.post-div input::placeholder {
    padding-left: 30px;
    padding-bottom: 30px;
}

.post-div option {
    width: 650px;
    height: 70px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #BBB4AB;
    background-color: #1E1E1E;
    margin-bottom: 60px;
    border: 1px solid #BBB4AB;
    box-sizing: border-box;
    
}

.post-div select {
    width: 650px;
    height: 70px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #BBB4AB;
    background-color: #1E1E1E;
    margin-bottom: 60px;
    padding-left: 30px;
}

.description input::placeholder {
    height: 500px;
    margin-bottom: 500px;
    
}

.description input {
    height: 500px;
}

.description textarea {
    background-color: #1e1e1e;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    padding-left: 30px;
    padding-top: 25px;
    padding-bottom: 30px;
    width: 650px;
    height: 200px;
    margin-bottom: 60px;
}

@media only screen and (max-width: 600px) {
    
    .header img {
        display: flex;
        justify-content: left;
        align-items: left;
        width: 100px;
        height: 100px;
    }
    .post-div h1 {
        display: flex;
        justify-content: center;
        margin-left: 20px;
        font-size: 30px;
        margin-bottom: 10px;
    }

    .post-div p {
        font-size: 16px;
        line-height: 16px;
    }

    .importImg {
        width: 200px;
        height: 100px;
        margin-left: 80px;
    }

    .post-div input {
        width: 310px;
        height: 50px;
        font-size: 16px;
        margin-bottom: 10px;
        margin-left: 20px;
    }

    .post-div select {
        width: 310px;
        height: 50px;
        font-size: 16px;
        margin-bottom: 10px;
        margin-left: 20px;
    }

    .description textarea {
        width: 310px;
        height: 100px;
        font-size: 16px;
        margin-bottom: 10px;
        margin-left: 20px;
    }

    .post-div button {
        width: 50%;
        height: 61px;
        font-family: 'Montserrat';
        font-style: normal;
        font-size: 16px;
        text-align: center;
        align-self: center;
        margin-left: 20px;
        margin-bottom: 10px;
    }
}