@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400&display=swap);

.main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
}

.post-div {
    display: flex;
    justify-content: center;
}

.post-div h1 {
    font-family: 'Montserrat';
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 78px;
    color: #BBB4AB;
    text-align: center;
    margin-bottom: 40px;
    
}

.post-div p {
    color: white;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    text-align: center;
    font-size: 30px;
    
}

.header img {
    display: flex;
    justify-content: left;
    align-items: left;
    width: 300px;
    height: 300px;
}

.post-div input {
    width: 500px;
    height: 200px;
    border: 1px solid #BBB4AB;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #BBB4AB;
    background-color: #1E1E1E;
    box-sizing: border-box;
    
}

.leftside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    margin-left: 100px;  
}

.leftside img {
    width: 550px;
    height: 650px;
    margin-bottom: 40px;
    border: 1px solid white;
    margin: 95px;
    padding: 15px;

}

.leftside button {
    width: 590px;
    height: 80px;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 40px;
    text-align: center;
    color: #FFFFFF;
    background-color: #1E1E1E;
    margin-bottom: 60px;
    border: 1px solid white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

}

.rightside {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    margin-right: 100px;
    width: 50%;
    margin-left: 300px;
}

.rightside h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 78px;
    color: #BBB4AB;
    text-align: left;
    margin-bottom: 15px;
    
}

.rightside p {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    font-size: 30px;
    line-height: 29px;
    color: #BBB4AB;
    margin-bottom: 10px;
    width: 50%;
    text-align: left;
}

.post-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-div a {
    color: #BBB4AB;
}

.post-div a:hover {
    color: #4DFF00;
}


